doctype html
html
    head
        title Welcome
        link(rel='stylesheet' href='/css/main.css')
    body
        div(class='container')
            if chat
                h3(class='header')= 'Chat: ' + chat.name
            else
                h3(class='header')= 'Chat'
            .chat
                .messages#messages
            .form
                input(type='text' class='message-input' id='message-input')
                button(class='message-button' id='message-btn') Send
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')
        script(src='/js/chat.js')
